@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("fonts/Inter/Inter_24pt-Bold.ttf")
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("fonts/Inter/Inter_18pt-Medium.ttf")
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("fonts/Inter/Inter_18pt-Regular.ttf")
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("fonts/Inter/Inter_18pt-SemiBold.ttf")
}


* {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial"
}

.test-btn {
    background-color: #007bff !important;
    border-color: #007bff !important;
    width: 200px !important;
    font-size: 18px !important;
    margin-top: 10px;
    margin: 15px auto;
}

.test-btn:hover {
    background-color: #fff !important;
    border: 2px solid #007bff !important;
    color: #007bff !important;
}

.test-btn:disabled {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: #fff !important;
  cursor: not-allowed;
}

/* Затемнение фона и центрирование */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Содержимое модального окна */
.modal-content {
  background-color: #fff;
  margin: 21vh auto;
  padding: 5px 20px 12px 20px;
  border-radius: 10px;
  max-width: 870px;
  display: flex;
  flex-direction: column;
}

/* Заголовок */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Закрытие */
.close-btn {
  font-size: 40px;
  cursor: pointer;
}

#prev-btn, #next-btn {
  width: 200px !important;
}

/* Вопрос */
.question-text {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 18px;
    /* text-align: center; */
}

#test-result {
  font-size: 23px;
  text-align: center;
  font-weight: 500;
}

.test-header {
    font-size: 30px;
    margin: 0;
}

#question-counter {
  font-size: 20px;
  font-weight: 500;
}

/* Варианты ответов */
.answers label {
      display: block;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Навигация */
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
